@font-face {
  font-family: "SF Display Pro";
  src: url("./fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF Display Pro";
  src: url("./fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
  font-weight: 500;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: "SF Display Pro";
}
._container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  position: relative;
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.page {
  width: 100%;
  flex: 1 1 auto;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.title {
  font-weight: 700;
  font-size: 79px;
  line-height: calc(94 / 79 * 100%);
  color: #0034eb;
}

.header {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0;
}

.header__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24 * 100%);
  color: #6a6a6a;
}

.header__logo span {
  color: #0034eb;
}

.page__main {
  position: relative;
}

.main__content {
  padding: 160px 0px 458px 0px;
  position: relative;
  z-index: 2;
}

.main__title {
}

.main__text-circle {
  position: absolute;
  left: 720px;
  top: 150.9px;
  width: 300px;
  height: 300px;
  animation: text-circle 10s infinite;
}


@keyframes text-circle{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.page__images {
  margin: -300px 0px 0px 0px;
}
.images {
}
.images__container {
}
.images__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px -20px;
}
.images__column {
  flex: 0 1 33.333%;
  padding: 0 10px;
  margin: 0px 0px 20px 0px;
}
.images__item {
  position: relative;
  padding: 0px 0px 133.333% 0px;
}

.page__spec {
  margin: 0px 0px 100px 0px;
}
.spec {
}
.spec__container {
}
.spec__title {
}
.spec__list {
  list-style: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
}
.spec__item {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 32px;
  line-height: calc(14 / 32 * 100%);
  padding: 0px 0px 15px 0px;
  border-bottom: 1px dashed #0034eb;
}

.spec__item span:nth-child(2) {
  color: #0034eb;
}

.spec__item:not(:last-child) {
  margin: 0px 0px 50px 0px;
}

.footer {
  background-color: #0034eb;
  padding: 50px 20px;
}
.footer__container {
}
.footer__text {
  font-weight: 700;
  font-size: 43px;
  line-height: calc(51 / 43 * 100%);
  color: #ffffff;
}


@media (max-width: 992px) {
  .main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__text-circle {
    position: static;
  }
}

@media (max-width: 767px) {
  .page__images {
    margin: 40px 0px 0px 0px;
  }
  .main__content {
    padding: 100px 0px 158px 0px;
    position: relative;
    z-index: 2;
  }
  .images__column {
    flex: 0 1 50%;
  }
  .title {
    font-size: 35px;
  }
}

@media (max-width: 475px) {
  .main__content {
    padding: 100px 0px 108px 0px;
    position: relative;
    z-index: 2;
  }
  .images__column {
    flex: 0 1 100%;
  }
  .spec__item {
    font-size: 22px;
  }
}